html {
    --color-light-card: #e4d7cf;
    --color-dark-card: #bfaea7;
    --color-stamp-red: #b90804;
    --color-text-black: #110600;
    --color-background: #f4e6d5;
}

body {
    background: linear-gradient(to top, white, var(--color-background));
    background-repeat: no-repeat;
    height: 100%;

    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: var(--color-background);
    padding: 1em 0 1em 2em;
    border-bottom: 3px outset black;
    color: var(--color-text-black);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 1px 3px 1px rgb(66, 66, 66);
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

main {
    display: flex;
    margin-top: 5.5em;
    width: 100%;
}

#add-container {
    padding: 0 1em;
    min-width: 22em;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-right: 3px ridge black;
    align-items: center;

    position: fixed;

}

#cabinet {
    margin: 8em 0;
    width: 17em;
}

button,
[type=submit] {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: var(--color-text-black);
    background-color: var(--color-dark-card);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px var(--color-light-card);
    font-size: 2em;
    cursor: pointer;
    width: 7em;
    height: 1.4em;
    padding-top: .2em;
    transition: .2s all;
}

button:hover,
[type=submit]:hover {
    background-color: var(--color-light-card);
    box-shadow: 2px 2px 5px 1px var(--color-dark-card);
    transform: scale(1.1);
    transition: 0.2s all;
}

#card-main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 22em;
}

.card {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    color: var(--color-text-black);
    border: 1px solid transparent;
    border-radius: 2px;
    background: linear-gradient(to top left, var(--color-dark-card), var(--color-light-card) 70%),
                linear-gradient(to bottom right, var(--color-dark-card), var(--color-light-card) 70%),
                linear-gradient(to top right, var(--color-dark-card), var(--color-light-card) 70%);
    display: flex;
    justify-content: space-between;
}

.form-card {
    padding: 0 1.4em 4em .2em;
    margin: 4em;
    width: 45em;
    height: 18em;
}

.book-card {
    padding: 1em .2em 2em 0;
    margin: 1em;
    width: 30em;
    height: 12em;

    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.text-area {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.author {
    margin-left: .4em;
    font-weight: inherit;
}

.sub-field {
    height: 100%;
    margin-left: 2em;
    margin-right: 1em;
    font-weight: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-weight: inherit;
}

.pages{
    font-weight: inherit;
}

.genre {
    font-weight:inherit;
    margin-left: 1em;
}

.stamps-area {
    height: 100%;
    width: 30%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.delete-img {
    position: relative;
    left: 7.2em;
    bottom: .7em;
    height: 1.5em;
    cursor: pointer;
}

.date {

    color: var(--color-stamp-red);
    font-weight: 1000;
    transform: rotate(15deg);
}

.read {
    align-self: center;
}

.check {
    height: 2.5em;
    cursor: pointer;
}

#form-main {
    display: none;
    height: 90vh;
    margin-left: 22em;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 25em;
    width: 50em;
}

#form-main form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20em;
    width: 100%;
}

.form-group {
    margin-top: 1em;
    font-size: 1.5em
}

#form-title,
#form-pages {
    margin-left: 2em;
}

#form-pages {
    width: 5em;
}

#form-pages-p {
    display: inline;
}

#dropdown {
    margin-left: 3em;
    width: 10em;
}

[type=text],
[type=number],
select {
    padding: 0 .5em;
    border-radius: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size: inherit;
    width: 20em;
    outline: none;
    border-color: var(--color-dark-card);
    border-style: solid;
    background-color: white;
}


[type=text]:focus,
[type=number]:focus,
select:focus {
    box-shadow: 0 0 5px 5px var(--color-dark-card);
}

#bottom-group {
    display:flex;
    justify-content: space-between;
}

.form-read {
    font-family: inherit;
    font-size: 1.5em;
    margin-right: 5em;
    align-self: flex-end;
    display: flex;
}

.form-read label {
    cursor: pointer;
    align-self: center;
}

#read-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8em;
}

#label-img {
    height: 3em;
    padding-bottom: .5em;
}

.form-read input[type="checkbox"] {
    display: none;
}

#submit-button {
    margin-top: 3em;
    width: 8em;
    align-self: center;
}

@keyframes hide {
    0% {
        opacity: 1;
        width: 30em;
        height: 12em;
        margin: 1em;
        line-height: inherit;
        padding: 1em .2em 2em 0;
    }

    75% {
        opacity: 0;
        width: 30em;
        height: 12em;
        margin: 1em;
        line-height: inherit;
        padding: 1em .2em 2em 0;
    }

    100% {
        opacity: 0;
        height: 0;
        width: 0;
        line-height: 0;
        padding: 0;
        margin: 0;

    }
}

@media only screen and (max-width: 1380px) {
    #form-main {
        margin-left: 22em;
    }

    .form-card {
        margin: 4em .5em;
    }
}

@media only screen and (max-width: 1024px) {
    header h1 {
        font-size: 2em;
        text-align: center;
    }

    html {
        width: 100%;
        min-width: 375px;
    }


    main {
        flex-direction: column;

    }

    #add-container {
        position: initial;
        border-right: none;
        min-width: 0;
        height: 100%;

    }

    #cabinet {
        padding-top: 2em;
        margin: 1em;
        width: 10em;
    }

    #card-main {
        margin-left: 0;
        justify-content: center;
    }

    .delete-img {
        left: 4.2em;
    }

    #form-main {
        margin-left: 0;
        width: 100%;
    }

    .form-card {
        width: 100%;
        font-size: 1em;
    }

    [type=text] {
        width: 12em;
    }

    #bottom-group {
        flex-direction: column;
    }

}
